body {
    background-image: url("images/mountanandlake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    margin: 0;
    height: 100vh;
}

nav {
    display:flex;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.2)
}

.buttonwrapper {
    display:flex;
    gap: 5px;
}

p {
    color:white;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
    font-size: 18px;
}

.content {
    color:white;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
    font-size: 32px;
    text-align:center;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    cursor:pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

#content {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.menu {
    display:flex;
    flex-wrap:wrap;
    margin-right: 300px;
    margin-left: 300px;
    background-color:#5585b5;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    max-width: 60%;
    min-height: 60%;
}

.menu-item {
    display:flex;
    flex-direction:column;
    padding: 18px;
    flex-grow: 1;
    flex-basis: 40%;
}

.price {
    color:black;
    align-self:flex-end;
    text-shadow: none;
}

.itemheader {
    color: #f8da5b;
}

.itemdesc {
    color:black;
    text-shadow: none;
}

.aboutwrapper {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 50%;
    height: 50%;
    gap: 24px;
}

.descriptionwrapper {
    display:flex;
    flex-direction:column;
}

img {
    height:50%;
    width:50%;
    border-radius: 8px;
}